@model IEnumerable<Calendar.Web.Models.EventDto>
<div class="box">
<div class="box_day_week_month_year">
    <p>jakis email</p>
</div>
<div class="box_email">
    <button class="button_day_week_month_year">dzien</button>
    <button class="button_day_week_month_year">tydzien</button>
    <button class="button_day_week_month_year">miesiac</button>
    <button class="button_day_week_month_year">rok</button>
    
</div>
</div>